/*****************        TYPOGRAPHY          *******************

******************                            ******************/

/* Animated Cover Text */
@keyframes bigger {
  0% {
    font-variation-settings: "wght"900, "wdth"70, 'ital'1.00;
  }

  50% {
    font-variation-settings: "wght"100, "wdth"70, 'ital'1.00;
  }

  100% {
    font-variation-settings: "wght"900, "wdth"70, 'ital'1.00;
  }
}

h1 span {
  animation: bigger 1;
  animation-duration: 5s;
  animation-timing-function: ease;
  font-variation-settings: "wdth"70;
}

h1 span:nth-child(2) {
  animation-delay: .1s;
}

h1 span:nth-child(3) {
  animation-delay: .2s;
}

h1 span:nth-child(4) {
  animation-delay: .3s;
}

h1 span:nth-child(5) {
  animation-delay: .4s;
}

/* Variable Font */
@font-face {
  font-family: 'FF Meta VF';
  src: url('https://variablefonts.monotype.com/MetaVariableDemo-Set.woff2') format('woff2');
  font-display: swap;
  font-style: normal italic;
  font-weight: 100 900;
}

/* Add backup for Variable Font settings */
/* @supports (font-variation-settings: normal) {
  html {

  }
} */

html {
  font-family: 'FF Meta VF', sans-serif;
  font-size: 16px;
}

p {
  margin-bottom: 0;
}

h1 {
  font-family: 'FF Meta VF', sans-serif;
  font-variation-settings:
    'wght'350.00,
    'ital'1.00;
  font-size: .8em;
  font-weight: 800;
  margin-left: 9.5%;
  margin-top: 28%;
  color: #fff9;
}

h2 {
  font-size: 2.25em;
  font-family: 'Shadows Into Light', cursive;
  color: #00b3b3;
}

h3 {
  font-size: .75em;
}

h4 {
  font-size: .60em;
}

a {
  font-size: .27em;
}

/*****************      COVER CONTAINER       *******************

******************                            ******************/

.overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: transparent;
  background-color:rgba(0, 0, 0, 0.85);
  z-index:9999;]
  color:white;
}

.full-stack p {
  background-image: radial-gradient(#21252973, #21252900);
}

.shadows {
    font-variation-settings: 'wght'900.00, 'ital'1.00;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #000;
    color: #775179;
    letter-spacing: -0.05em;
    font-family: 'FF Meta VF', sans-serif;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
}

.shadows:hover {
  text-shadow: -16px 6px 15px black, -16px 10px 5px rgba(0,0,0,.5);
}

#cover {
  font-size: 2rem;
  background: url(Assets/img/Nightscene.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Nightscene.svg', sizingMethod='scale')";
  -webkit-box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.71);
-moz-box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.71);
box-shadow: 0px 5px 13px -8px rgba(0,0,0,0.71);
background-color: rgba(0,0,0,.5);
}

#nav a {
  color: #ccc9;
  font-weight: bold;
  cursor: pointer;
}

#nav a:hover {
  transition: all .3s ease-in-out;
  color: white;
}

.cover-hello {
  text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
  font-size: 4em;
  font-variation-settings:
    'wght'900.00,
    'ital'1.00;
  padding-top: 25%;
}

.blankDiv {
  height: 100vh;
}


/*****************      ABOUT CONTAINER       *******************

******************                            ******************/

#about {
  height: 80%;
  background-color: #424242;
  background-image: radial-gradient(#00000052, #21252900);
  margin-top: -8%;
  margin-bottom: -20%;
  padding: 7%;
  padding-bottom: 13%;
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
  overflow: hidden;
  /* transform: skewY(-6deg);
  transform-origin: bottom right; */
}

#about p {
  color: #b9b9b9;
  line-height: 1.8;
  text-align: center;
  margin: auto;
}

#about h2 {
  padding: 3% 4%;
  text-shadow: -15px 5px 20px #000;
}

.blastoise {
  margin: 5px;
}

.portrait-img {
  height: auto;
  max-width: 100%;
  width: 150px;
  margin: 8% 6%;
  border-radius: 50%;
  -webkit-box-shadow: 1px 0px 20px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 0px 20px 3px rgba(0,0,0,0.75);
  box-shadow: 1px 0px 20px 3px rgba(0,0,0,0.75);
}


/*****************      WORK CONTAINER      *******************

******************                            ******************/

#work {
  font-size: 2rem;
  background-color: #3e755c;
  padding-bottom: 8%;
  margin-bottom: -2%;
  padding: 13%;
  padding-top: 18%;
  background: url(Assets/img/fireflies-web.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: auto 100%;
  margin-top: -2px;
  overflow: visible;
}

#work h3 {
  color: #fafafa;
  font-size: 1.45em;
}


/*****************        GALLERY         ********************

******************                        ********************/

#previous-button {
  display: hidden!important;
}

.gallery-title {
  animation-duration: 2s;
  animation-delay: .25s;
}

.baguetteBox-button {
  display: none;
}

.gallery-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item {
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: .8;
  border-radius: 5px;
}

.gallery-block.compact-gallery .item .image {
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info {
  position: relative;
  display: inline-block;
}

.gallery-block.compact-gallery .item .description {
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0;
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1;
  }

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

/*****************      FOOTER CONTAINER      *******************

******************                            ******************/

#footer {
  font-size: 1.15rem;
  background-color: #021321;
  height: 70%;
  padding: 5% 7% 1% 7%;
  margin-top: -18%;
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
  background-image: radial-gradient(#9855b94f, #21252900);
  padding-top: 18%;
}

#footer h3 {
  color: #ccc;
  font: bolder 2.25em 'Shadows Into Light', cursive;
  animation-duration: 2s;
  animation-delay: .25s;
}

.linkedin-icon {
  width: 48px;
}

.git-icon {
  width:50px
}

.copyright {
  font-size: .6em;
  color: #666666;
  margin-top: 5%;
}

.email-me {
  font-size: .85em;
  font-family: 'FF Meta VF', sans-serif;
  font-variation-settings: 'wght'900.00, 'ital'1.00;
  text-transform: uppercase;
  padding: 2%;
  background: -webkit-linear-gradient(#ff00cd, #139292);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email-me:hover {
  transform: scale(1.1);
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

.social-btn {
  margin: 5%;
}

/* .social-btn .zoom:hover {
  cursor: pointer;
} */

.social-bar {
  padding-top: 10%;
  margin-bottom: 8%;
}

.social-bar, li {
  list-style: none;
}

.social-bar, ul {
  padding: 0;
}

.zoom {
  transition: all .3s ease-in-out;
}

.zoom:hover {
  transform: scale(1.1);
}

.btn-success {
  background: transparent;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+0,2989d8+0,207cca+0,2989d8+0,2989d8+1,2989d8+1,9c27b0+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 0%, #2989d8 0%, #207cca 0%, #2989d8 0%, #2989d8 1%, #2989d8 1%, #9c27b0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 0%,#2989d8 0%,#207cca 0%,#2989d8 0%,#2989d8 1%,#2989d8 1%,#9c27b0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #1e5799 0%,#2989d8 0%,#2989d8 0%,#207cca 0%,#2989d8 0%,#2989d8 1%,#2989d8 1%,#9c27b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#9c27b0',GradientType=1 ); /* IE6-9 */
  font-size: .35em;
  padding: 3% 20%;
  width: 100%;
  border: 1px solid #673ab7;
  border-radius: .15rem;
  color: #fff;
  text-align: center!important;
  margin-top: 10%;
}

.btn-success:focus {
  color: #fff;
}


/*****************      MEDIA QUERIES         *******************

******************                            ******************/
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  .email-me[data-aos-offset= '220'] {
  }
  .email-me[data-aos-anchor-placement= 'top-top']{
  }
  #footer {
    padding: 5% 0;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    position: absolute;
    margin-top: 10%;
    top: 10px;
  }
  h2 {
    font-size: 3em;
  }
  #about p {
    max-width: 70%;
  }
  .chat-box {
    margin-left: 8%;
  }
}

@media screen and (min-width: 700px) and (max-width: 850px) {
  h1 {
    margin-top: 21%;
  }
}

@media screen and (min-width: 765px) {
  .btn-success {
    width: 65%;
  }
  .portrait-img {
    width: 250px;
  }
  #about {
    margin-bottom: -15%;
  }
  #footer {
    padding-top: 12%;
    margin-top: -10%;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 32px;
  }
  #about p {
    font-size: .65em;
    max-width: 60%;
  }
  .portrait-img {
    width: 315px;
    margin-top: 2.5%;
    margin-bottom: 2%;
  }
  .form-control {
    padding: 9% 2%;
    font-size: .35em;
  }
  .form-group {
    margin-bottom: -5%;
  }
  .copyright {
    font-size: .35em;
  }
  #nav a:hover {
    transform: scale(1.15);
  }
  .linkedin-icon {
    width: 72px;
  }
  .git-icon {
    width:75px;
  }
  #about {
    margin-top: -6%;
  }
}

@media screen and (min-width:1000px) {
  #footer h3 {
    line-height: 2;
  }
  .chat-box {
    margin-top: -2.5%;
  }
}

@media screen and (min-width: 1500px) {
  html {
  font-size: 38px
  }
  h1 {
    margin-left: 15%;
  }
}

@media screen and (min-width: 2400px) {
  html {
  font-size: 48px
  }
  h1 {
    margin-left: 17%;
  }
}

  /* CSS specific to iOS devices */
@supports (-webkit-overflow-scrolling: touch) {
  .chat-box {
    margin-top: -10%;
  }
  #about {
    margin-top: -15%;
    padding-bottom: 5%;
  }
  #cover {
    margin-bottom: -5%;
  }
  #footer {
    height: 90%;
  }
  .email-me[data-aos-offset= '220'] {
  }
  #cover {
    background-size: contain;
    background-color: yellow;
  }
}
